{% assign site_lang = site.active_lang | default: 'en' %}
{% assign base_lang = site_lang | split: '-' | first %}

{% assign stats_lang = base_lang %}
{% assign streak_lang = base_lang %}

{% case base_lang %}
  {% when 'pt' %}
    {% assign stats_lang = site_lang %}
    {% assign streak_lang = site_lang %}

  {% when 'zh' %}
    {% assign stats_lang = 'cn' %}
    {% assign streak_lang = 'zh-cn' %}
{% endcase %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="only-light w-100"
      alt="{{ include.username }}"
      src="https://github-readme-stats-five-alpha-58.vercel.app/api?username={{ include.username }}&count_private=true&theme={{ site.repo_theme_light }}&locale={{ stats_lang }}&show_icons=true&include_all_commits=true"
    >
    <img
      class="only-dark w-100"
      alt="{{ include.username }}"
      src="https://github-readme-stats-five-alpha-58.vercel.app/api?username={{ include.username }}&count_private=true&theme={{ site.repo_theme_dark }}&locale={{ stats_lang }}&show_icons=true&include_all_commits=true"
    >
    <img
      class="only-light w-100"
      alt="{{ include.username }}"
      src="https://github-readme-streak-stats-rouge-delta.vercel.app/?user={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ streak_lang }}"
    >
    <img
      class="only-dark w-100"
      alt="{{ include.username }}"
      src="https://github-readme-streak-stats-rouge-delta.vercel.app/?user={{ include.username }}&theme={{ site.repo_theme_dark }}&locale={{ streak_lang }}"
    >
  </a>
</div>
